* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.horizontalNav ul {
    height: 100px;
    padding: 10px 15px;
    background-color: rgb(32 33 36);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    list-style-type: none;
}

.horizontalNav ul li {
    padding: 10px 15px;
    background-color: red;
    border-radius: 10px;
}

ul a {
    color: white;
    text-decoration: none;
}

.heading {
    display: flex;
    width: 100%;
}

.verticalNav ul {
    padding: 5px;
    height: 100%;
    background-color: rgb(32 33 36);
    font-size: 25px;
    text-align: center;
    list-style-type: none;
}

.verticalNav ul li {
    margin: 25px 30px;
    padding: 15px;
    background-color: red;
    border-radius: 10px;
}

.news {
    width: 80%;
}

.headline {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
}

.newspaper {
    display: flex;
}

.newspapers {
    width: 80%;
}

.newspapers table {
    width: 100%;
    height: 500px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    table-layout: fixed;
}

.form {
    padding: 15px;
    width: 20%;
    background-color: #e5e5e5;
    font-size: 20px;
    font-weight: bold;
}

input {
    padding: 5px 10px;
    width: 100%;
    font-size: 20px;
}

.button {
    width: fit-content;
    margin: 20px 63px;
    padding: 10px 15px;
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
}



/* NEXT PAGE */

.breakingNews {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.trading p {
    margin: 20px 0;
}

.bulletin td,
th {
    padding: 5px 10px;
}

.bulletin marquee {
    background-color: #e7e7e7;
    padding: 0 30px;
    border-radius: 5px;
}

.bulletin p {
    margin: 20px 0;
}

.contactUs p {
    margin: 20px;
    font-size: 24px;
}